*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    /* background: radial-gradient(#fff,rgb(140, 161, 171)); */
}
.logo img{
    width: 80px;
    height: 50px;
    border-radius: 5px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left:25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    /* background: rgb(22, 55, 70);
    position: fixed; */
}

/* .navbar .cart-icon{
    width: 100%;
} */
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    width: 650px;
    height: 550px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 30px;
}
.col-2 p{
    margin-left: 30px;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 30px;
    border-radius: 5px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
    transform: translateY(5px);
}

.header{
    background: radial-gradient(#fff,rgb(140, 161, 171));
}
.header .row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;  
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}
.col-3:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px 5px grey;
}
.col-3 img{
    width: 100%;
    height: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding:0 25px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px 5px grey;
}
.col-4 img{
    width: 100%;
    height: 350px;
}
h4{
    color: #555;
    font-weight: normal;
    text-align: center;
}
.col-4 p{
    font-size: 15px;
}
.rating{
    color:#ad1c1c;
}
.offer{
     background: radial-gradient(#fff,rgb(140, 161, 171));
}
#offer-img{
    padding-right: 15px;
}
#offer-desc{
    padding-left: 15px;
}


/* -----Testimonials------ */

.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
}
.testimonial .col-3 .tm-img{
    width: 70px;
    height: 70px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3 .fa-solid.fa-quote-left{
    font-size: 30px;
    color:#ff523b;
}
.testimonial .col-3 .fa-solid.fa-quote-right{
    font-size: 30px;
    color:#ff523b;
}
.testimonial .col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    font-size: 16px;
    color: #555;
}


/* -------brands------- */

.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
    height: 110px;
    margin: 20px;
}
.col-5 img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
    transform: translateY(-5px);
    box-shadow: 0 0 5px gray;
}

/* ----------footer--------- */

.footer{
   background: #000;
   color: #777;
   font-size: 15px;
   padding: 60px 0 20px; 
}

.footer h3{
    margin-bottom: 20px;
    color: #fff;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.footer .footer-col-1 img{
    width: 100px;
    height: 60px;
    border-radius: 5px;
}
.footer .footer-col-2 img{
    width: 150px;
    height: 90px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.footer hr{
    border: none;
    background: #777;
    height: 2px;
    margin: 20px 0;
}
.footer .copyright{
    text-align: center;
}


/* ------All Products------- */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid rgb(11, 79, 111);
    padding: 10px;
    border-radius: 3px;
    color: #555;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
    justify-items: center;
}
.page-btn span{
    display: inline-block;
    border:1px solid rgb(11, 79, 111);
    height: 40px;
    width: 40px;
    text-align: center;
    margin-left: 10px;
    line-height: 40px;
    cursor: pointer;
    color: #555;
}
.page-btn span:hover{
     transform:translate3d(50px);
     box-shadow: 0 0 5px 5px rgb(140, 161, 171);
     background: rgb(11, 79, 111);
     color: #fff;
}



/* --------Single Product Details-------- */

.product-details{
    margin-top: 80px;
    margin-bottom: 50px;
}
.product-details .col-2{
    padding: 50px;
    
}
.product-details .col-2 img{
    /* width: 350px; */
    padding:0;
    height: 500px;
}
/* .product-details .col-2 .small-img-col{
    height: 100px;
} */
.product-details .col-2 p{
    margin: 20px 0;
}
.product-details select{
    display: block;
    margin-top: 10px;
}
.product-details input{
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid rgb(11, 79, 111);
    border-radius: 3px;
}
input:hover{
    outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    width: 50px;
}
.small-img-row .small-img-col img{
    height: 70px;
}
#related-products{
    justify-content: left;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* -------- Cart Page -------- */

.cart-page{
    margin: 80px auto;
}
table{
    width:100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    background:rgb(11, 79, 111);
    color: #fff;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td img{
    height: 100px;
    width: 80px;
    margin-right: 10px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: red;
    font-size: 12px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
    border-top: 3px solid rgb(11, 79, 111);
}
.total-price table{
    width: 100%;
    max-width: 350px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* --------Account--------- */

.account-page{
    background: radial-gradient(#fff,rgb(140, 161, 171));
    padding: 50px 0;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgb(11, 79, 111);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-container .form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid rgb(4, 32, 82);
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#login-form{
    left: -300px;
}
#register-form{
    left: 0;
}
#indicator{
    width: 100px;
    border: none;
    background:rgb(11, 79, 111);
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

.address{
    margin: 50px ;
    
}
.address .proceed{
   align-items: center;
}
.address .address-heading{
    height: 50px;
    background:rgb(11, 79, 111);
    line-height: 30px;
    padding: 10px;
    /* text-align: center; */
    margin-bottom: 30px;
}
.address div h3{
    color: #fff;
}
.address form{
        background: #fff;
        width: 600px;
        height: 400px;
        position: relative;
        text-align: center;
        padding: 20px;
        margin: auto;
        /* box-shadow: 0 0 20px 0px rgb(11, 79, 111); */
}
.address .address-form{
    display: block;
    padding: 50px;
    background:rgb(195, 223, 236);
}
.address form span{
    font-weight: bold;
    color: #555;
}
.address form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid rgb(4, 32, 82);
    background-color: #fff;
}
.address form input:focus{
    outline: none;
}
.address .btn{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 15px;
}
.address .proceed{
    align-items: right;
    text-align: center;
    width: 100%;    
}

.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}
.billing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    /* background: linear-gradient(#fff,rgb(140, 161, 171)); */
    padding-bottom: 70px;
}
.billing-container form{
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 0 10px rgb(11, 79, 111);
}
.billing-container form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.billing-container form .row .col{
    flex: 1 1 250px;
}
.billing-container form .row .col .title{
    font-size: 20px;
    color: #555;
    padding-bottom: 5px;
    text-transform: uppercase;

}
.billing-container form .row .col .inputBox{
    margin: 15px 0;
}
.billing-container form .row .col .inputBox .span{
    margin-bottom: 5px;
    display: block;

}
.billing-container form .row .col .inputBox input{
width: 100%;
border: 1px solid #777;
padding: 10px 15px;
font-size: 15px;
}

.billing-container form .row .col .inputBox input:focus{
    border: 1px solid #333;
}
.billing-container form .row .col .flex{
    display:flex;
    gap: 15px;
}
.billing-container form .row .col .flex .inputBox{
    margin-top: 5px;
}
.billing-container form .row .col .inputBox img{
    height: 35px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #333);
}
.billing-container form .submit-btn{
    width: 100%;
    padding: 12px;
    font-size: 15px;
    background:#ff523b;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    height: max-content;
}
.billing-container form .submit-btn:hover{
    background: rgb(11, 79, 111);
}
.billing-container form .row .next{
    height: 50px;
}
/* -----------Responsive-------- */

.navbar .menu-icon{
    width: 28px;
    
    display: none;
}

@media only screen and (max-width: 800px){
    nav ul{
        position:absolute;
        top: 70px;
        left: 0;
        background: rgb(4, 32, 82);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin: 10px 50px 10px 0;
    }
    nav ul li a{
        color: #fff;
    }
    .navbar .menu-icon{
        display: block;
        cursor: pointer;
       
    }
   
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .product-details .row{
        text-align: left;
    }
    .product-details .col-2{
        padding: 20px 0;
    }
    .product-details h3{
        line-height:32px;
    }
    .address{
        margin: 50px auto ;
        
    }
    .address .address-heading{
        height: 40px;
        line-height: 30px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .address form{
            width: 300px;
            height: 400px;
    }
    .address .address-form{
        display: block;
        padding: 30px 10px;
        background:rgb(195, 223, 236);
    }
    .address .btn{
        margin-top: 20px;
        width: 150px;
        height: 40px;
        font-size: 15px;
    }

    /* Product-details */
    .product-details .col-2 img{
       
        padding:0;
        height: 400px;
    }
    .product-details .col-2 .small-img-row img{
        height: 80px;
    }
}



